body {
  font-family: monospace, georgia;
  text-align: center;
  color: #473f33;
  background: green;
  /*background: #d9d5d0;*/
}

a {
  /*color: #94641b;*/
  color: red;
}

a:visited {
  /*color: #db962c;*/
  color: orange;
}

ul {
  font-family: arial;
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2;
  background: purple;
}

li {
  margin: 16px 0;
}

img {
  max-width: 150%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

#main {
  /*background: #edeae6;*/
  background: green;
}

#img-caption {
  font-family: arial;
}
