@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  font-family: monospace, georgia;
  text-align: center;
  color: #474747;
  background: #1c0906;
}

a {
  color: #94641b;
}

a:visited {
  color: #db962c;
}

ul {
  font-family: "TyponineSans Regular 18", "Lucida Grande", Lucida, Verdana, sans-serif;
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2;
  list-style-type: circle;
}

li {
  margin: 16px 0;
  letter-spacing: 0.05rem;
}

img {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

#main {
  background: #FFF;
}

#img-caption {
  font-family: arial;
}

.container {
  padding: 25px;
}

h2 {
  margin-top: 50px;
  letter-spacing: 0.2rem;
  font-family: 'Special Elite', cursive;
}

.bg-img1 {
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://cdn.discordapp.com/attachments/438776217840254976/535966635031527425/image.png');
  padding: 300px;
}

.text-uppercase {
  color: lightGray;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  font-family: 'Julius Sans One', monospace, sans-serif;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  position: relative;
}
